.nav-bg {
  background: #42458c95;
}

body {
  background-color: #090C57;
  color: #fff;
}


#notification {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1.5s;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
  animation-delay: 1s;
}